body{
    background-size: 100%;
    background-color: black;
    background-image: url("jason-leung.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

p,h3,h4{
    color: white;
    text-align: center;
}
